<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir Sobre</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div id="sobre-container" data-numeros="<%= numeros %>" data-album="<%= album %>">
        <div id="image-container">
            <img id= "apertura-sobre-img" src="/abrirSobre/imagen<%= idSobre%>" alt="No hay imagen" height="400" width="400">
        </div>
        <h2>Nombre</h2>
        
    </div>

    <button id="btnAbrirSobre">Abrir sobre</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/abrirSobre.js"></script>


</html>
