<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir Sobre</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div class="sobre-container">
        <div class="image-container">
        <img src="ruta_de_la_imagen.jpg" alt="No hay imagen">
        </div>
        <h2>Nombre aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>
        
    </div>

    <button id="btnAbrirSobre">Abrir sobre</button>
    <script src="/javascripts/abrirSobre.js"></script>
</body>

</html>
