<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Crear Coleccion</title>
</head>

<body>

    <%- include("snowflake")%>

        <div class="div_introduction">
            <header>
                <div class="header">
                </div>
            </header>
        </div>

        <div class="container">
            <div class="row vh-80 justify-content-center align-items-center">
                <div class="col-auto bg-light p-5 rounded">
                    <form id="formularioCrearColeccion" onsubmit="validarFormCrearColeccion()">
                        <h1 class="display-6 text-center">Crear Coleccion</h1>

                        <div class="input-group p-2">
                            <input type="text" name="nombre" class="form-control" id="nombreColección"
                                placeholder="Nombre" required>
                        </div>

                        <div class="input-group p-2">
                            <input type="text" name="descripcion" class="form-control" id="descripcionColección"
                                placeholder="Descripcion de la Coleccion" required>
                        </div>

                        <div class="input-group p-2">
                            <h6 class="titulo t_imagen">Imagen</h6>
                            <input type="file" name="foto" class="form-control" id="imagenColección" placeholder="Foto"
                                required>
                        </div>

                        <div class="input-group p-2">
                            <label class="titulo" for="categorias">Categorías:</label>
                            <select name="categorias[]" id="categoriasColección" class="form-select" multiple required>
                                    <option>Deportes</option>
                                    <option>Futbol</option>
                                    <option>Personas</option>
                                    <option>Matematicas</option>

                                <!-- Agrega más opciones de categorías según sea necesario -->
                            </select>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary w-100 boton">Crear coleccion</button>
                    </form>
                </div>
            </div>
        </div>


</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="/javascripts/crearColeccion.js"></script>

</html>