<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Crear Coleccion</title>
</head>

<body>
        <div class="div_introduction">
            <header>
                <div class="header">
                </div>
            </header>
        </div>

        <div class="container">
            <div class="row vh-80 justify-content-center align-items-center">
                <div class="col-auto bg-light p-5 rounded">
                    <form id="formularioCrearColeccion" enctype="multipart/form-data">
                        <h1 class="display-6 text-center">Crear Coleccion</h1>

                        <div class="input-group p-2">
                            <input type="text" name="nombre" class="form-control" id="nombreColeccion"
                                placeholder="Nombre" required>
                        </div>

                        <div class="input-group p-2">
                            <input type="text" name="descripcion" class="form-control" id="descripcionColeccion"
                                placeholder="Descripcion de la Coleccion" required>
                        </div>

                        <div class="input-group p-2">
                            <h6 class="titulo t_imagen">Imagen</h6>
                            <input type="file" name="imagenColeccion" class="form-control" id="imagenColeccion" accept="image/*" required>
                        </div>
                        
                        <div class="container2">
                            <div class="select-btn">
                                <span class="btn-text">Selecciona categoria</span>
                                <span class="arrow-dwn">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </span>
                            </div>
                            <ul class="list-items">
                                <li class="item">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">Deportes</span>
                                </li>
                                <li class="item">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">Futbol</span>
                                </li>
                                <li class="item">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">Personas</span>
                                </li>
                                <li class="item">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">Matematicas</span>
                                </li>
                            </ul>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 boton">Crear coleccion</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-es_ES.min.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="/javascripts/crearColeccion.js"></script>

</html>

<script>const selectBtn = document.querySelector(".select-btn"),
    items = document.querySelectorAll(".item");

selectBtn.addEventListener("click", () => {
  selectBtn.classList.toggle("open");
});

items.forEach(item => {
  item.addEventListener("click", () => {
      item.classList.toggle("checked");

      let checked = document.querySelectorAll(".checked"),
          btnText = document.querySelector(".btn-text");

          if(checked && checked.length > 0){
              btnText.innerText = `${checked.length} Seleccionadas`;
          }else{
              btnText.innerText = "Selecciona categoria";
          }
  });
})
</script>

<script>// Selecciona todos los elementos .item-text dentro de div.container2
    const itemTexts = document.querySelectorAll('.container2 .item-text');
    
    // Crea un arreglo para almacenar los textos de los elementos .item-text
    const categories = [];
    
    // Recorre todos los elementos .item-text y agrega sus textos al arreglo categories
    itemTexts.forEach(itemText => {
        categories.push(itemText.textContent.trim()); // Agrega el texto sin espacios adicionales
    });
    

    // Une los elementos del arreglo categories en una cadena separada por comas
    const selectedCategories = categories.join(',');
    // Establece la cadena de categorías como el valor del elemento con el id categoriasColeccion
    $('#categoriasColeccion').val(selectedCategories);</script>
</html>