
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confirmación de Compra</title>
<link href="/stylesheets/dialogConfirmarCompra.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content">
        <div class="left-section">
            <img class="image" src="sobre.png" alt="Sobre del videojuego">
            <div>
                <h2 class="confirm-title">Nombre del sobre</h2>
            </div>
        </div>
        <div class="right-section">
            <div class="title-box">
                <div class="header">
                    <h1 class="title">CONFIRMACION DE COMPRA</h1>
                </div>
            </div>
            <div class="confirmation-info">
                <h2 class="confirm-title">¿DESEAS REALIZAR LA COMPRA?</h2>
                <div class="price-box">
                    <p class="price">PRECIO DEL SOBRE: $XX</p>
                </div>
                <div class="coins-box">
                    <p>TIENES $YY MONEDAS</p>
                </div>
            </div>
            <div class="buttons">
                <button class="cancel">CANCELAR</button>
                <button class="buy">COMPRAR</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>