<!DOCTYPE html>
<html>
  <head>
    <title>Titulo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Saludos <%= user.NOMBRE %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
