<nav class="fixed-bottom navbar navbar-expand navbar-light bg-custom">

    <ul class="navbar-nav nav-pills w-100 justify-content-around">
        <li class="nav-item">
            <a class="nav-link" href="/tienda">
                <img class="imagen_icono" src="/images/shop_icon.png">
                Tienda
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <img class="imagen_icono" src="/images/home_icon.png">
                Pagina Principal
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/estanteriaVirtual">
                <img class="imagen_icono" src="/images/shelf_icon.png">
                Estanteria Virtual
            </a>
        </li>
    </ul>

</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentUrl = window.location.pathname;
        var menuItems = document.querySelectorAll('.navbar-nav .nav-link');

        menuItems.forEach(function(item) {
            var link = item.getAttribute('href');
            
            if ((link === currentUrl) || (currentUrl.startsWith('/album/') && link === '/estanteriaVirtual')) {
                item.classList.add('active');
            } else {
                item.classList.remove('active');
            }
            
        });
    });
</script>

