<nav class="fixed-bottom navbar-expand-lg navbar-light bg-custom">

    <ul class="navbar-nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link " href="/tienda">
                <img class="imagen_icono" src="/images/shop_icon.png">
                Tienda
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/">
                <img class="imagen_icono" src="/images/home_icon.png">
                Pagina Principal
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/estanteriaVirtual">
                <img class="imagen_icono" src="/images/shelf_icon.png">
                Estanteria Virtual
            </a>
        </li>
    </ul>

</nav>