
    <div class="titulo-container">
        <h1 class="titulo"><%= titulo %></h1>
        <div class="monedas-container">
            <span class="monedas-icon">&#x1F4B0;</span> <!-- Icono de monedas -->
            <span class="monedas-cantidad"><%= monedas%></span> <!-- Contador de monedas -->
        </div>
    </div>
