
.nombre-cromo-texto {
  text-align: center; /* Centra el texto horizontalmente */
  font-family: Monaco, monospace;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto */
}

.cromo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc; /* Añade un borde de 2px sólido gris claro alrededor del cromo */
  border-radius: 8px; /* Aplica un borde redondeado de 8px al cromo */
  box-shadow: 0 4px 8px rgba(0, 0, 0.5, 1); /* Agrega una sombra suave alrededor del cromo */
}




.flecha {
  width: 50px; /* Ajusta el tamaño de las flechas según lo deseado */
  height: 50px; /* Ajusta el tamaño de las flechas según lo deseado */
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flecha:hover {
  transform: translateY(-50%) scale(1.1); /* Escalamos ligeramente la flecha al pasar el ratón sobre ella */
}


.flecha-derecha {
  top: calc(50% - 30px); /* Alinea la flecha con el centro vertical del cromo */
  right: calc(50% - 220px); /* Posición relativa a la derecha del cromo */
}

.flecha-izquierda {
  top: calc(50% - 55px); /* Alinea la flecha con el centro vertical del cromo */
  left: calc(50% - 220px); /* Posición relativa a la izquierda del cromo */
  
}





.nuevo {
  position: absolute;
  top: 20%;
  right: 58%;
  width: 100px;
  height: 100px;
  z-index: 2;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evita que el confeti salga de la pantalla */
    background:linear-gradient(rgb(89 94 150), rgb(78, 139, 136));
  }
  
  .envelope-container {
    position: relative;
  }
  
  .envelope-img {
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  
  /* Animación de vibración */
  @keyframes vibrate {
    0% { transform: translateX(0) translateY(0) rotateZ(0); }
    25% { transform: translateX(1px) translateY(-1px) rotateZ(1deg); } /* Modificado */
    50% { transform: translateX(-1px) translateY(1px) rotateZ(-1deg); } /* Modificado */
    75% { transform: translateX(1px) translateY(-1px) rotateZ(1deg); } /* Modificado */
    100% { transform: translateX(-1px) translateY(1px) rotateZ(-1deg); } /* Modificado */
  }
  
  /* Animación de agrandamiento y desaparición */
  @keyframes enlargeAndDisappear {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(2); opacity: 0; }
  }
  
  /* Estilos del confeti */
  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255); /* Cambia el color del confeti según tus preferencias */
    border-radius: 50%;
    opacity: 0;
    animation: confetti-fall 2s ease-in-out infinite;
  }
  
  /* Animación de caída del confeti */
  @keyframes confetti-fall {
    0% { transform: translateY(-100vh); opacity: 0; } /* Cambiado */
    100% { transform: translateY(100vh); opacity: 1; } /* Cambiado */
  }


  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .envelope-container {
    position: relative;
  }
  
  .envelope-img {
    width: 400px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  
 /* Estilos de las luces */
.light {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 300px yellow; /* Cambiado */
    display: none; /* Agregado */
  }
  
  .light1 { animation: moveLight1 5s linear forwards; }
  .light2 { animation: moveLight2 5s linear forwards; }
  .light3 { animation: moveLight3 5s linear forwards; }
  
  @keyframes moveLight1 {
    0% { top: -100px; left: 20%; }
    25% { top: calc(50% - 350px); left: calc(0% + 150px); }
    50% { top: -200px; left: 75%; }
    75% { top: calc(50% - 100px); left: calc(50% - 100px); }
    100% { top: calc(50% - 100px); left: calc(50% - 100px); }
  }
  
  @keyframes moveLight2 {
    0% { top: calc(100% - 20px); left: -50%; }
    25% { top: calc(50% + 100px); left: calc(50% - 400px); }
    50% { top: 250px; left: 0% - 20px; }
    75% { top: calc(50% - 100px); left: calc(50% - 100px); }
    100% { top: calc(50% - 100px); left: calc(50% - 100px); }
  }
  
  @keyframes moveLight3 {
    0% { top: calc(100% + 100px); left: 100%; }
    25% { top: calc(50% + 15px); left: calc(50% + 200px); }
    50% { top: 100%; left: 100%; }
    75% { top: calc(50% - 100px); left: calc(50% - 100px); }
    100% { top: calc(50% - 100px); left: calc(50% - 100px); }
  }
  

  @keyframes lightsToCenter {
    0% { transform: rotate(0); }
    100% { transform: rotate(120deg); }
  }
  
  @keyframes moveToCenter {
    0% { top: 0; left: 0; }
    25% { top: 25%; left: 25%; transform: translate(-50%, -50%); }
    50% { top: 50%; left: 50%; transform: translate(-50%, -50%); }
    75% { top: 75%; left: 75%; transform: translate(-50%, -50%); }
    100% { top: 100%; left: 100%; transform: translate(-50%, -50%); }
  }
  
/* Animación para desvanecer las luces */
@keyframes fadeLights {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Animación para desvanecer el confeti */
@keyframes fadeConfetti {
    0% { opacity: 0; }
    100% {
        opacity: 0;
        transform: translateY(calc(-50vh - 100px));
    }
}

/* Animación de desvanecimiento saliente */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Animación de aparecer */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



/* Clase para la imagen en tamaño normal */
.normal {
  transform: scale(1); /* Tamaño normal */
  transition: transform 0.5s ease; /* Transición suave */
}

/* Clase para la imagen en tamaño agrandado */
.enlarged {
  transform: scale(2); /* Tamaño agrandado */
}

/* Clase para la animación de regreso al tamaño normal */
.shrink-animation {
  transform: scale(1); /* Tamaño normal */
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}