body {
    background: linear-gradient(45deg, rgb(78, 116, 139),rgb(78 116 139) ,rgb(63 105 129) , rgb(23 65 89)); /* Degradado horizontal desde el centro */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana */
    display: flex; /* Permite centrar verticalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilos para la lista horizontal */
.sobre-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center; /* Centrar elementos verticalmente */
    overflow-x: auto; /* Para permitir desplazamiento horizontal si hay muchos sobres */
    background-color: rgba(89 94 150); /* Fondo semi-transparente para resaltar la lista */
    border-radius: 10px; /* Añade un radio de borde */
    padding: 20px; /* Añade espacio alrededor de la lista */
}
.sobre-item {
    margin-right: 20px;
    text-align: center;
}
.sobre-item h2{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.sobre-item p {
    margin-top: 5px;
    text-align: center;
}

/* Estilos para cada sobre */
.sobre {
    text-align: center;
    width: 200px; /* Aumenta el ancho de los sobres */
    height: 400px;
    padding: 20px; /* Aumenta el espacio interior para hacer los sobres más grandes */
    border-radius: 10px; /* Aumenta el radio de borde para hacer los sobres más redondeados */
    border: 3px solid rgb(31 37 97);
    background-size:cover;
    background-position: center;
}

.btn-comprar {
    background-color: rgb(200, 150, 41); /* Amarillo de Bootstrap */
    border:none; /* Amarillo de Bootstrap */
    color: #212529; /* Color de texto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px;
}

.btn-comprar:hover {
    background-color: rgb(245, 200, 104); /* Amarillo más claro al pasar el ratón */
    color: #212529; /* Color de texto */
}